/* Set base style of website */
body {
  padding: 0px;
  margin: 0px;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
}

p {
  margin: 0px;
}

button {
  background-color: #5a73d0;
  border: 1px solid #5a73d0;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 100px;
  color: #ffffff;
}

button:hover {
  background-color: #4860b7;
  border: 1px solid #4860b7;
  cursor: pointer;
}

.mt-2 {
  margin-top: 1rem;
}

/* Base Form Styles */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  padding: 8px 16px;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.form-radio-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 34px;
  gap: 16px;
}

.form-radio-label {
  position: relative;
  padding-left: 24px;
}

.form-radio-label > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-radio-custom {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 50%;
}

.form-radio-custom:hover {
  cursor: pointer;
  background-color: #cccccc;
}

.form-radio-custom:after {
  content: "";
  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #7bb557;
}

input:check ~ .form-radio-custom {
  background-color: #dbdbdb;
}

input:checked ~ .form-radio-custom:after {
  display: block;
}

/* Section Styles */
#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #984376 0%, #c64577 100%);
}

#paper {
  background: #ffffff;
  padding: 64px;
  max-width: 500px;
  border-radius: 16px;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 32px;
}
